body {  
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  text-align: center;
}
.title {
  text-align: center;
  font-size: 50px; 
  padding: 30px;
  margin: 0 0 30px 0;
  background-color: #a5d4a0;
}
p { padding: 1em 4em; }
a { color:#5bc0de; }
a:hover { color:#31b0d5; }
